---
---

<div class="publication">

  <!-- =========================
       TITLE
       ========================= -->

  <div class="publication-title">
    {{ entry.title }}
  </div>


  <!-- =========================
       AUTHORS
       ========================= -->

  <div class="publication-authors">

    {% assign authors = entry.author_array %}

    {% for author in authors %}

      {% assign first_initial = author.first | slice: 0 %}

      {% if author.last == site.publication.author_last_name
            and author.first == site.publication.author_first_name %}

        <span class="my-name">
          {{ author.last }}, {{ first_initial }}.
        </span>

      {% else %}

        {{ author.last }}, {{ first_initial }}.

      {% endif %}


      {% unless forloop.last %}

        {% if forloop.rindex == 2 %}
          , &nbsp;&amp;&nbsp;
        {% else %}
          ,&nbsp;
        {% endif %}

      {% endunless %}

    {% endfor %}

  </div>


  <!-- =========================
       JOURNAL
       ========================= -->

  <div class="publication-journal">

    {% if entry.journal %}
      <em>{{ entry.journal }}</em>
    {% endif %}

    {% if entry.volume %}
      , {{ entry.volume }}
    {% endif %}

    {% if entry.number %}
      ({{ entry.number }})
    {% endif %}

    {% if entry.pages %}
      , {{ entry.pages }}
    {% endif %}

    {% if entry.year %}
      ({{ entry.year }})
    {% endif %}

  </div>


  <!-- =========================
       LINKS
       ========================= -->

  {% if entry.pdf or entry.doi or entry.code %}

    <div class="publication-links">

      {% if entry.pdf %}
        <a
          href="{{ entry.pdf }}"
          target="_blank"
          rel="noopener"
        >
          Paper
        </a>
      {% endif %}


      {% if entry.doi %}
        <a
          href="https://doi.org/{{ entry.doi }}"
          target="_blank"
          rel="noopener"
        >
          DOI
        </a>
      {% endif %}


      {% if entry.code %}
        <a
          href="{{ entry.code }}"
          target="_blank"
          rel="noopener"
        >
          Code
        </a>
      {% endif %}

    </div>

  {% endif %}


  <!-- =========================
       RESEARCH THEME
       ========================= -->

  {% if entry.theme %}

    <div class="publication-theme">

      {{ entry.theme }}

    </div>

  {% endif %}

</div>
